@page "/portal/add"
@page "/portal/edit/{userId:int}"
@using DemoSimpleBlazorUserAndRoleManager.Services
@inject IPortalService portalService
@attribute [Authorize(Roles = "Administrators, Doctors, Nurses, Pharmacists, Users, Managers")]
<PageTitle>กรอกข้อมูลเพิ่มเติม</PageTitle>
<h3>กรอกข้อมูลเพิ่มเติม</h3>
<AuthorizeView Roles="Administrators">
    <Authorized>
        <span>
            <a href="/portal_test" class="btn btn-outline-dark">แสดงคิวออกมาทั้งหมด</a>
        </span>
    </Authorized>
</AuthorizeView>

<div class="row">
    <div class="col-md-6">
       <EditForm Model="@portal" OnValidSubmit="Save">
           <DataAnnotationsValidator/>

           <div class="form-group">
              <label for="Name">HN/QN</label>
             <InputText class="form-control" @bind-Value="portal.QueueId"/>
             <ValidationMessage For="@(()=>portal.QueueId)"/>
           </div>

            <div class="form-group">
              <label for="Name">ชื่อ-นามสกุล</label>
             <InputText class="form-control" @bind-Value="portal.PatientName"/>
             <ValidationMessage For="@(()=>portal.PatientName)"/>
           </div>

           <div class="form-group">
              <label for="Name">ประเภทคนไข้</label>
             <InputSelect @bind-Value="portal.PatientType">
              <option value="">
                เลือกประเภทคนไข้
              </option>
              <option checked="@(portal.PatientType == "OPD")" value="OPD">OPD</option>
              <option checked="@(portal.PatientType == "IPD")" value="IPD">IPD</option>
             </InputSelect>
             <ValidationMessage For="@(()=>portal.PatientType)"/>
           </div>
            
            <div class="form-group">
              <label for="Name">ประเภทรถ</label>
             <InputSelect @bind-Value="portal.PortalType">
              <option value="">
                เลือกประเภทรถ
              </option>
              <option checked="@(portal.PortalType == "รถนั่ง")" value="รถนั่ง">รถนั่ง</option>
              <option checked="@(portal.PortalType == "รถนอน")" value="รถนอน">รถนอน</option>
              <option checked="@(portal.PortalType == "เฉพาะคน(มีรถแล้ว)")" value="เฉพาคน(มีรถแล้ว)">เฉพาะคน(มีรถแล้ว)</option>
              <option checked="@(portal.PortalType == "รถนั่งปรับนอน")" value="รถนั่งปรับนอน">รถนั่งปรับนอน</option>
              <option checked="@(portal.PortalType == "รถนั่งปรับนอน + ออกซิเจน")" value="รถนั่งปรับนอน + ออกซิเจน">รถนั่งปรับนอน + ออกซิเจน</option>
              <option checked="@(portal.PortalType == "รถนั่ง + เสาน้ำเกลือ")" value="รถนั่ง + เสาน้ำเกลือ">รถนั่ง + เสาน้ำเกลือ</option>
              <option checked="@(portal.PortalType == "รถนั่ง + ออกซิเจน")" value="รถนั่ง + ออกซิเจน">รถนั่ง + ออกซิเจน</option>
              <option checked="@(portal.PortalType == "รถนอน + ออกซิเจน")" value="รถนอน + ออกซิเจน">รถนอน + ออกซิเจน</option>
             </InputSelect>
             <ValidationMessage For="@(()=>portal.PortalType)"/>
           </div>

            <div class="form-group">
              <label for="Name">ประเภทความเร่งด่วน</label>
             <InputText class="form-control" @bind-Value="portal.UrgentType"/>
             <ValidationMessage For="@(()=>portal.UrgentType)"/>
           </div>

            <div class="form-group">
              <label for="Name">ชื่อ-นามสกุล เวรเปล:</label>
             <InputText class="form-control" @bind-Value="portal.PortalName"/>
             <ValidationMessage For="@(()=>portal.PortalName)"/>
           </div>
           <div class="form-group">
              <label for="Name">หมายเหตุ:</label>
             <InputText class="form-control" @bind-Value="portal.Note"/>
             <ValidationMessage For="@(()=>portal.Note)"/>
           </div>
           <div class="form-group">
              <label for="Name">สถานะ:</label>
             <InputText class="form-control" @bind-Value="portal.Status"/>
             <ValidationMessage For="@(()=>portal.Status)"/>
           </div>
           <div class="form-group">
              <label for="Name">จุดเริ่มต้น:</label>
             <InputText class="form-control" @bind-Value="portal.StartPort"/>
             <ValidationMessage For="@(()=>portal.StartPort)"/>
           </div>
           <div class="form-group">
              <label for="Name">จุดส่งที่ 1:</label>
             <InputText class="form-control" @bind-Value="portal.EndPort1"/>
             <ValidationMessage For="@(()=>portal.EndPort1)"/>
           </div>
            <div class="form-group">
              <label for="Name">จุดส่งที่ 2:</label>
             <InputText class="form-control" @bind-Value="portal.EndPort2"/>
             <ValidationMessage For="@(()=>portal.EndPort2)"/>
           </div>
            <div class="form-group">
              <label for="Name">จุดส่งที่ 3:</label>
             <InputText class="form-control" @bind-Value="portal.EndPort3"/>
             <ValidationMessage For="@(()=>portal.EndPort3)"/>
           </div>
           <div class="form-group">
              <label for="Name">จุดส่งที่ 4:</label>
             <InputText class="form-control" @bind-Value="portal.EndPort4"/>
             <ValidationMessage For="@(()=>portal.EndPort4)"/>
           </div>
            <div class="my-2">
                @message
            </div>

            <div class="my-2">
                <button type="submit" class="btn btn-primary">บันทึก</button>
            </div>
       </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int UserId { get; set; }
    private string message = string.Empty;
    Models.Portal portal = new();
    private string Title = "เพิ่มคิวจองเวรเปล";

    private void Save()
    {
        message = "กรุณารอสักครู่";
        if (portalService.AddUpdate(portal))
        {
            message = "การเพิ่มข้อมูลสำเร็จ";
            portal = new();
        }
        else
        {
            message = "ไม่สามารถบันทึกข้อมูล";
        }
    }

    protected override void OnInitialized()
    {
        if (UserId > 0)
        {
            Title = "แก้ไขข้อมูลคิวจองเวรเปล";
            portal = portalService.FindById(UserId);
        }
        base.OnInitialized();
    }
}